@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/rengkox');

                
*{
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(37, 23, 51) rgba(255, 166, 0, 0);
}

.body-index{
    background-color: #03071c;
    font-family: "Montserrat";
}

.navbar {
    width: 80%;
    height: 90px;
    border-radius: 40px;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #272b4e;
    background: -webkit-linear-gradient(0deg, #272b4e 0%, #1a1a35 100%);
    background: linear-gradient(0deg, #272b4e 0%, #1a1a35 100%);
    margin: 50px auto;
}


.navbar .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}


.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar .nav-links li {
    margin: 50px 15px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}


.navbar .nav-links a:hover {
    color: #d075f1;
}

.container-principal{
    width: 90%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 8, 1fr);
    grid-template-rows: repeat( 5, 1fr);
    background: #ff000000;
}

.container-1{
    width: 95%;
    height: 90%;
    border-radius: 30px;
    margin: auto;
    background: #8b63d5;
    background: -webkit-linear-gradient(0deg, #8b63d5 0%, #1f1c40 50%, #1f1c40 100%);
    background: linear-gradient(0deg, #8b63d5 0%, #1f1c40 50%, #1f1c40 100%);
    grid-row: 1/6;
    grid-column: 1/3;
    overflow: hidden; 
}

.container-1 img{
    width: 100%;
}

.container-1 button{
    width: 70%;
    height: 50px;
    margin-top: 60px;
    margin-left: 20px;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgba(79,32,122,1) 0%, rgba(33,37,70,1) 100%);
    color: #ffff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.9s;
}

.container-1 button:hover{
    transform: scale(1.05);
}


.container-1-info-text{
    width: 90%;
    min-height: 50px;
    padding: 20px 20px 20px 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color: rgba(255, 0, 0, 0);
}

.container-2{
    width: 95%;
    min-height: 90%;
    border-radius: 30px;
    margin: auto;
    background: #4776e6;
    background: #956ae2;
    background: -webkit-linear-gradient(360deg, #956ae2 0%, #653ad7 100%);
    background: linear-gradient(360deg, #956ae2 0%, #653ad7 100%);
    grid-row: 1/6;
    grid-column: 3/9;
    display: flex;
    overflow: hidden; 
    position: relative;
}

.container-2-info{
    width: 100%;
    height: 100%;
    background: #272b4e54;
    background: -webkit-linear-gradient(0deg, #272b4e52 0%, #1a1a3575 100%);
    background: linear-gradient(0deg, #272b4e00 0%, #1a1a35 100%);
    clip-path: polygon(0% 0%, 100.1% 0%, 46.1% 100.3%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.container-2-info-text{
    width: 60%;
    min-height: 200px;
    color: #ffff;
    position: absolute;
    top: 100px;
    left: 50px;
}

.container-2-info-text h1{
    font-size: 2.5rem;
    font-weight: 500;
}

.container-2-info-text h4{
    font-size: 1.5rem;
    font-weight: 200;
}

.container-2-info-text button{
    width: 50%;
    height: 50px;
    margin-top: 50px;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgba(79,32,122,1) 0%, rgba(33,37,70,1) 100%);
    color: #ffff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.9s;
}

.container-2-info-text button:hover{
    transform: scale(1.05);
}

.container-2-img {
    width: 60%;
    height: 100%;
    background: url("img/img-1.png"); 
    background-size: cover;
    position: absolute;
    left: 40%;
}

.container-principal-2{
    width: 90%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 8, 1fr);
    grid-template-rows: repeat( 5, 1fr);
    background: #ff000000;
}

.container-3{
    width: 97%;
    height: 100%;
    border-radius: 30px;
    margin: auto;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgba(79,32,122,1) 0%, rgba(33,37,70,1) 100%);
    grid-row: 1/6;
    grid-column: 1/6;
    display: flex;
    align-items: end;
    justify-content: center;
}

.service-section {
    padding: 30px;
    border-radius: 8px;
    width: 600px;
    margin: 20px auto;
    perspective: 1000px;
}
.service-section img {
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
    transform-style: preserve-3d; 
}

.service-section img:hover {
    transform: rotateX(10deg) rotateY(10deg) scale(1.1); 
    filter: hue-rotate(180deg); 
}

.imagen-section{
    width: 100%;
}

.service-title {
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-description {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}

.service-benefits {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}

.service-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

.service-item::before {
    content: "✔";
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

.service-cta {
    text-align: center;
}

.service-button {
    background-color: #0044cc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.service-button:hover {
    background-color: #003399;
}


.container-4{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(37,37,75,1) 0%, rgb(21, 27, 78) 100%);
    grid-row: 1/6;
    grid-column: 6/9;
    overflow: hidden;
    position: relative;
}

.container-4-info img{
    width: 100%;
    margin-bottom: 100px;
}

.card-section {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.card-benefits {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}

.benefit-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

.benefit-item::before {
    content: "✔";
    color: #cc0000;
    font-size: 20px;
    margin-right: 10px;
}

.card-cta {
    text-align: center;
}

.cta-button {
    background-color: #0044cc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #003399;
}

footer {
    margin-top: 50px;
    background: #442057;
    background: -webkit-linear-gradient(0deg, #272b4e 0%, #1c1b38 100%);
    background: linear-gradient(0deg, #272b4e 0%, #1c1b38 100%);
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFD700;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #FFD700;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    font-size: 12px;
}



/*---------------------styles de register------------------------*/


.body-registro{
    background-color: #03071c;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container-principal-register{
    width: 60%;
    height: 600px;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgb(88, 51, 122) 0%, rgb(39, 42, 71) 100%);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: inset -26.5px -23.5px 32px -25.5px #03071c;
    -moz-box-shadow: inset -26.5px -23.5px 32px -25.5px #03071c;
    box-shadow: inset -26.5px -23.5px 32px -25.5px #03071c;
}

.content-register{
    width: 50%;
    height: 100%;
    background: #1a1a37;
    background: -webkit-linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    background: linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    border-radius: 0% 50% 50% 0% / 25% 50% 50% 25%;
    -webkit-box-shadow: 9.5px 10px 27px -3px #03071c;
    -moz-box-shadow: 9.5px 10px 27px -3px #03071c;
    box-shadow: 9.5px 10px 27px -3px #03071c;
    align-items: center;
    justify-content: start;
    display: flex;
    animation: animacion-content-register 0.9s ease forwards;
}

.content-register h1{
    font-weight: 400;
}

.content-register p,a{
    font-weight: 300;
}

@keyframes animacion-content-register {
    0% {
        transform: translateX(500px);
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
    }
    100% {
        transform: translateX(0);
    }
}
.content-register-text{
    width: 80%;
    margin: 0 0 0 40px;
    color: #ffff;
}

.content-register-form{
    width: 50%;
    height: 100%;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anclaje-home{
    width: 20%;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 50px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.anclaje-home:hover {
    transform: translateY(-5px);
    color: #ffd700; 
    border: 1px solid #ffd700;
}

.container-register-form{
    width: 80%;
    animation: animacion-content-register-form 0.7s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes animacion-content-register-form {
    0% {
        transform: translateX(500px);
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
        opacity: 25%;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.container-register-form h1{
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 300;
}

.anclaje-registrar{
    text-decoration: none;
    margin-top: 20px;
    color: #ffdd00;
}

.input-form-1,.input-form-2,.input-form-3,.input-form-4{
    margin-top: 40px;
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding: 0 0 0 10px;
    border: none;
    border-bottom: 1px solid #ffffffb8;
    background: rgba(237, 135, 255, 0.13);
    color: #ffffff;
    outline: none;
}

.fa-user, .fa-envelope, .fa-phone, .fa-money-bill, .fa-lock,.fa-hashtag,.fa-key,.fa-file-invoice,.fa-arrow-up-9-1,.fa-file-invoice,.fa-money-bill-transfer{
    position: absolute;
    transform: translateY(-40%);
    margin-left: 90%;
    color: #ffffff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
    background: rgba(0, 0, 0, 0);
    padding: 0 20px 60px;
}


.label-form-2,.label-form-3,.label-form-4{
    position: absolute;
    transform: translateY(-49%);
    color: #ffffff;
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
    background: rgba(0, 0, 0, 0);
    padding: 0 10px 50px;
    font-family: "montserrat" ;
}

.label-form-1{
    position: absolute;
    transform: translateY(-49%);
    color: #ffcc00;
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
    background: rgba(0, 0, 0, 0);
    padding: 0 20px 120px;
    font-family: "montserrat" ;
}

.input-form-2:focus,.input-form-3:focus,.input-form-4:focus{
    border: none;
    border-bottom: 2px solid #b349f9;
}

option{
    background-color: #03071c;
}

.input-form-2:focus ~ .label-form-2,
.input-form-2:valid ~ .label-form-2 {
    font-size: 15px;
    background: #ffffff00;
    padding: 0 20px 120px;
    color: #ffcc00;
}

.input-form-3:focus ~ .label-form-3,
.input-form-3:valid ~ .label-form-3 {
    font-size: 15px;
    background: #ffffff00;
    padding: 0 20px 120px;
    color: #ffcc00;
}

.input-form-4:focus ~ .label-form-4,
.input-form-4:valid ~ .label-form-4 {
    font-size: 15px;
    color: #ffcc00;
    padding: 0 20px 120px;
}

.btn-form{
    margin-top: 20px;
    width: 50%;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #1a1a37;
    background: -webkit-linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    background: linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    font-weight: 400;
}

.btn-form:hover{
    background-color: #fff;
    color: #ffffff;
    box-shadow: 5px 5px 0px #ffffff62;
}

.btn-form:active{
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}


.content-login-form{
    width: 50%;
    height: 100%;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-form{
    width: 80%;
    animation: animacion-content-login-form 0.7s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.container-login-form h1{
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.content-login{
    width: 50%;
    height: 100%;
    background: #1a1a37;
    background: -webkit-linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    background: linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    border-radius: 50% 0% 0% 50% / 50% 25% 25% 50%;
    align-items: center;
    justify-content: start;
    display: flex;
    animation: animacion-content-login 0.9s ease forwards;
    text-align: right;
    -webkit-box-shadow: -20px 21px 28.5px -13.5px #03071c;
    -moz-box-shadow: -20px 21px 28.5px -13.5px #03071c;
    box-shadow: -20px 21px 28.5px -13.5px #03071c;
}

.content-login h1{
    font-weight: 400;
}

.content-login p,a{
    font-weight: 300;
}


@keyframes animacion-content-login-form {
    0% {
        transform: translateX(-500px);
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
        opacity: 25%;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animacion-content-login {
    0% {
        transform: translateX(-500px);
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
    }
    100% {
        transform: translateX(0);
    }
}



.container-1-inicio{
    width: 95%;
    height: 90%;
    border-radius: 30px;
    margin: auto;
    background: #8b63d5;
    background: -webkit-linear-gradient(0deg, #8b63d5 0%, #1f1c40 50%, #1f1c40 100%);
    background: linear-gradient(0deg, #8b63d5 0%, #1f1c40 50%, #1f1c40 100%);
    grid-row: 1/6;
    grid-column: 7/9;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.container-1-inicio img{
    width: 30%;
    margin: 30px 35% 0px 35%;
}

.container-1-inicio button{
    width: 70%;
    height: 50px;
    margin-top: 60px;
    margin-left: 20px;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgba(79,32,122,1) 0%, rgba(33,37,70,1) 100%);
    color: #ffff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.9s;
}

.container-1-inicio button:hover{
    transform: scale(1.05);
}

.saldo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
}

.btn-form-trans{ 
    width: 50%;
    height: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #1a1a37;
    background: -webkit-linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    background: linear-gradient(149deg, #1a1a37 0%, #7547e6 100%);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    font-weight: 400;
}

.btn-form-trans:hover{
    background-color: #fff;
    color: #ffffff;
    box-shadow: 5px 5px 0px #ffffff62;
}

.btn-form-trans:active{
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}



.container-2-inicio{
    width: 95%;
    min-height: 90%;
    border-radius: 30px;
    margin: auto;
    background: #4776e6;
    background: #956ae2;
    background: -webkit-linear-gradient(360deg, #956ae2 0%, #653ad7 100%);
    background: linear-gradient(360deg, #956ae2 0%, #653ad7 100%);
    grid-row: 1/6;
    grid-column: 1/7;
    display: flex;
    overflow: hidden; 
    position: relative;
}

.container-2-inicio-img{
    width: 60%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 60%;
    background-color: #00339900;
    overflow: hidden;
}

.container-2-inicio-img img{
    width: 60%;
    margin-top: 100px;
    margin-left: 50px;
}

.container-2-inicio h1{
    font-weight: 600;
}

.container-2-inicio h2{
    font-weight: 500;
}

.container-3-inicio{
    width: 97%;
    height: 100%;
    border-radius: 30px;
    margin: auto;
    background: rgb(79,32,122);
    background: radial-gradient(circle, rgba(79,32,122,1) 0%, rgba(33,37,70,1) 100%);
    grid-row: 1/6;
    grid-column: 4/9;
    display: flex;
    align-items: end;
    justify-content: center;
}

.service-section-inversion{
    margin-bottom: 0px;
}

.service-section-inversion img {
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
    transform-style: preserve-3d; 
}

.service-section-inversion img:hover {
    transform: rotateX(10deg) rotateY(10deg) scale(1.1); 
    filter: hue-rotate(180deg); 
}


.container-4-inicio{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(37,37,75,1) 0%, rgb(21, 27, 78) 100%);
    grid-row: 1/6;
    grid-column: 1/4;
    overflow: hidden;
    position: relative;
}

.container-monedas {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.container-monedas h2 {
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
}
.container-monedas p {
    font-size: 1rem;
    margin: 10px 0;
}
.currency-list {
    list-style-type: none;
    padding: 0;
    background-color: #1e1c3f85;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    width: 95%;
}

.container-monedas img{
    width: 20%;
}
.currency-list li {
    font-size: 1rem;
    margin: 5px 0;
    color: #ffffff;
}
    strong {
    color: #ff9900;
}

.quick-access-section {
    padding: 20px;
    background-color: #ffffff00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.quick-access-title {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.quick-access-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.quick-access-button {
    display: block;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.quick-access-button:hover {
    background-color: #217dbb;
}

.historial-total{
    background-color: #1e1c3f85;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    width: 95%;
    bottom: auto;
    font-size: 18px;
}